:root {
  --inner-width: 980px;
}

.fv {
  height: 100vh;
  background: url(/wp-mock/assets/images/coffee_7.jpeg);
  background-attachment: fixed;
  background-size: cover;

  &__title {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10vw;
    margin-bottom: 4vh;
    color: #fff;
    font-size: 12rem;
    font-family: roboto;
    font-weight: lighter;
  }
}

.panel {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
  min-height: 100vh;

  &--coffee9 {
    background: url(/wp-mock/assets/images/coffee_9.jpeg);
    background-attachment: fixed;
    background-size: cover;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &--coffee10 {
    background: url(/wp-mock/assets/images/coffee_10.jpeg);
    background-attachment: fixed;
    background-size: cover;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  &__inner {
    height: 100%;
  }
}

.content {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;

  &__inner {
    margin: 0 auto;
    width: var(--inner-width);
  }

  &__flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 240px;
  column-gap: 1em;
  row-gap: 1em;
  margin-bottom: 2rem;

  &__box1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  &__box2 {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

.card {
  margin-left: 1rem;
  padding: 4rem;
  width: 40%;
  background: rgba(255, 255, 255, 0.9);

  &:first-child {
    margin-left: 0;
  }
}

.footer {
  min-height: 100vh;
  background: #333;
}

/* Tempolary code */
.mt-n-180 {
  margin-top: -180px;
}

@media all and (max-width: 480px) {
  .fv {
    background-position-x: -16px;
    background-attachment: scroll;

    &__title {
      font-size: 6rem;
    }
  }

  .panel {
    padding: 2rem;
  }

  .content {
    &__flex {
      flex-direction: column;

      & .card {
        margin-top: 2rem;
        margin-left: 0;
        padding: 2rem;
        width: 80%;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    column-gap: 1em;
    row-gap: 1em;
    margin-bottom: 0;

    &__box1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    &__box2 {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
    }

    &__box3 {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }

    &__box4 {
      grid-row: 4 / 5;
      grid-column: 1 / 2;
    }
  }

  .footer {
    padding: 2rem;
  }
}
